.nav {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.link {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem 0;
  border: 2px solid transparent;

  transition: all ease .2s;
}

.link:hover {
  border-bottom: 2px solid #444;
}


