.currentWeather {
  padding: 20px 50px;
  width: 350px;
  background-color: rgba(104, 104, 104, 0.5);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.currentWeather > h4 {
  font-weight: 400;
  font-size: 18px;
}

.currentWeather > h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.currentWeather > h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
}

.currentWeather > h5 {
  font-weight: 400;
  font-size: 14px;
}